body {
    background: blueviolet;
    font-family: 'Times New Roman', Times, serif;
  }

ul {
    font-family: sans-serif;
}

.romcom {
    font-style: italic;
    color: darksalmon  ;
}

.mafia {
    font-weight: bold;
    color: white;
}

.list {
    list-style: square;
}

.MafiaTheme {
    background-color: black;
}

.switch{
  position: absolute;
  top: 20px;
  left: 300px;
  height: 50px;
  width: 70px;
  color: red;
  font-weight: bolder;
  background-color: white;
}



